﻿<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <i class="fa fa-flask"></i>
            <span class="bigger-120">
                <span class="black bolder">Agence</span>
                &copy; 2019
            </span>
        </div>
    </div>
</div>
