﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Agence</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @Styles.Render("~/assets/css/bootstrap")
    @Styles.Render("~/assets/css/font-awesome")
    @Styles.Render("~/assets/css/fonts.googleapis")
    @Styles.Render("~/assets/css/dualListbox")
    <!-- ace styles -->
    @Styles.Render("~/assets/css/gritter")
    @Styles.Render("~/assets/css/ace")
    @Styles.Render("~/assets/css/toastr")
    @Styles.Render("~/assets/css/sweetAlert")
    @Styles.Render("~/assets/css/simTree")
    @Styles.Render("~/assets/css/iCheck/iCheckStyles")
    @Scripts.Render("~/assets/js/jquery")
    @Scripts.Render("~/assets/js/validate")
    @Scripts.Render("~/assets/js/aceextra")
</head>
<body class="no-skin skin-1">
    @Html.Partial("_TopBar")
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>

        </div><!-- /.main-content -->

        @Html.Partial("_Footer")

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    @Scripts.Render("~/assets/js/bootstrap")
    @Scripts.Render("~/assets/js/jquery-ui")

    @Scripts.Render("~/assets/js/jquery.easypiechart")
    @Scripts.Render("~/assets/js/jquery.sparkline")
    @Scripts.Render("~/assets/js/jquery.flot")

    <!-- ace scripts -->

    @Scripts.Render("~/assets/js/jquery.datatables")
    @Scripts.Render("~/assets/js/gritter")
    @Scripts.Render("~/assets/js/tree")
    @Scripts.Render("~/assets/js/simTree")
    @Scripts.Render("~/assets/js/ace")
    @Scripts.Render("~/assets/js/toastr")
    @Scripts.Render("~/assets/js/toastr")
    @Scripts.Render("~/assets/js/sweetAlert")
    @Scripts.Render("~/assets/js/catalog")
    @Scripts.Render("~/assets/js/site")
    @Scripts.Render("~/assets/js/iCheck")
    @Scripts.Render("~/assets/js/dualList")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            if ('@TempData["MessageError"]' != '')
                ShowNotificationError('@TempData["MessageError"]');
            if ('@TempData["MessageWarning"]' != '')
                ShowNotificationWarning('@TempData["MessageWarning"]');
            if ('@TempData["MessageInfo"]' != '')
                ShowNotificationInfo('@TempData["MessageInfo"]');

            jQuery.extend(jQuery.validator.messages, {
                required: "Este campo es obligatorio.",
                remote: "Por favor, rellena este campo.",
                email: "Por favor, ingresa una dirección de correo válida",
                url: "Por favor, ingresa una URL válida.",
                date: "Por favor, ingresa una fecha válida.",
                dateISO: "Por favor, ingresa una fecha (ISO) válida.",
                number: "Por favor, ingresa un número entero válido.",
                digits: "Por favor, ingresa sólo dígitos.",
                creditcard: "Por favor, ingresa un número de tarjeta válido.",
                equalTo: "Por favor, ingresa el mismo valor de nuevo.",
                accept: "Por favor, ingresa un valor con una extensión aceptada.",
                maxlength: jQuery.validator.format("Por favor, no ingresa más de {0} caracteres."),
                minlength: jQuery.validator.format("Por favor, no ingresa menos de {0} caracteres."),
                rangelength: jQuery.validator.format("Por favor, ingresa un valor entre {0} y {1} caracteres."),
                range: jQuery.validator.format("Por favor, ingresa un valor entre {0} y {1}."),
                max: jQuery.validator.format("Por favor, ingresa un valor menor o igual a {0}."),
                min: jQuery.validator.format("Por favor, ingresa un valor mayor o igual a {0}.")
            });


            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({ container: '#my-modal > .modal-dialog' });

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });
        });
    </script>


</body>
</html>





