﻿<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="@Url.Action("Index","Home")" class="navbar-brand">
                <small>
                    <i class="fa fa-flask"></i>
                    <span class="white" id="id-text2">Agence - Test</span>
                </small>
            </a>
        </div>
    </div><!-- /.navbar-container -->
</div>
