﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-sitemap"></i>
                        404
                    </span>
                    Pagina no encontrada.
                </h1>

                <hr />
                <h3 class="lighter smaller">Nosotros encontraremos la pagina que no has podido conseguir!</h3>

                <div>
                    <form class="form-search">
                        <span class="input-icon align-middle">
                            <i class="ace-icon fa fa-search"></i>
                            <input type="text" class="search-query" placeholder="Busca las opciones..." />
                        </span>
                        <button class="btn btn-sm" type="button">Buscar!</button>
                    </form>

                    <div class="space"></div>
                    <h4 class="smaller">Trata con los siguientes links:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Re-check the url for typos
                        </li>

                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Read the faq
                        </li>

                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Tell us about it
                        </li>
                    </ul>
                </div>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Regresar
                    </a>

                    <a href="@Url.Action("Index","Home")" class="btn btn-primary">
                        <i class="ace-icon fa fa-tachometer"></i>
                        Ir a Home
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div>

