﻿<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-bar-chart-o"></i>
                    Performance Comercial
                </h5>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <canvas id="mixed-chart" width="400" height="100"></canvas>
                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div><!-- /.widget-box -->
    </div><!-- /.col -->
</div>
<script>
        jQuery(function ($) {

            new Chart(document.getElementById("mixed-chart"), {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Encode(Model.Labels)),
                    datasets: @Html.Raw(Json.Encode(Model.Values))
                },
                options: {
                    title: {
                        display: true,
                        text: @Html.Raw(Json.Encode(Model.Title))
                    },
                    legend: { display: true }
                }
            });

            @*new Chart(document.getElementById("mixed-chart"), {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Encode(Model.Labels)),
                    datasets: [{
                        label: "Media",
                        type: "line",
                        borderColor: "#8e5ea2",
                        data: [408, 547, 675, 2300],
                        fill: false
                    }, {
                        label: "Europe",
                        type: "bar",
                        backgroundColor: "#3e95cd",
                        data: [408, 547, 675, 734]
                    }, {
                        label: "Africa",
                        type: "bar",
                            backgroundColor: "#c45850",
                        backgroundColorHover: "#3e95cd",
                        data: [133, 221, 783, 2478]
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Periodo: Enero 2017 - Diciembre 2017'
                    },
                    legend: { display: true }
                }
            });*@
        });
</script>
