﻿@model Management.Entity.Pizza

<br />
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-pie-chart"></i>
                    Performance Comercial
                </h5>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <canvas id="pie-chart" width="400" height="100"></canvas>
                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div><!-- /.widget-box -->
    </div><!-- /.col -->
</div>
<script>
    jQuery(function ($) {

        var dynamicData = [1, 2, 3, 4, 5];
       

        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Encode(Model.Labels)),
                datasets: [{
                    label: "Porcentaje Receita",
                    backgroundColor: @Html.Raw(Json.Encode(Model.Colors)),
                    data: @Html.Raw(Json.Encode(Model.Values))
                }],
            },
            options: {
                title: {
                    display: true,
                    text: @Html.Raw(Json.Encode(Model.Title))
                }
            }
        });


    });
</script>
