﻿@model Management.Entity.RelatorioConsultor
@{ 
    decimal _receitaLiquida = 0;
    decimal _custoFixo = 0;
    decimal _comissao = 0;
    decimal _lucro = 0;
}
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @Model.Cosnultor.Nombre
        </div>

        <div class="table-responsive">
            <table id="simple-table" class="table">
                <thead>
                    <tr>
                        <th class="text-center">Periodo</th>
                        <th class="text-right">Receita Liquida</th>
                        <th class="text-right">Custo Fixo</th>
                        <th class="text-right">Comissao</th>
                        <th class="text-right">Lucro</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Relatorios != null && Model.Relatorios.Count > 0)
                    {
                        
                        foreach (var item in Model.Relatorios)
                        {
                            _receitaLiquida += item.ReceitaLiquida;
                            _custoFixo += item.CustoFixo;
                            _comissao += item.Comissao;
                            _lucro += item.Lucro;
                            <tr>
                                <td>@item.Periodo</td>
                                <td class="text-right">R$ @item.ReceitaLiquida.ToString("###,###0.00")</td>
                                <td class="text-right">R$ @item.CustoFixo.ToString("###,###0.00")</td>
                                <td class="text-right">R$ @item.Comissao.ToString("###,###0.00")</td>
                                <td class="text-right">R$ @item.Lucro.ToString("###,###0.00")</td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No tiene ventas en el periodo seleccionado.</td>
                        </tr>

                    }
                </tbody>
                <thead>
                    <tr class="bg-gray">
                        <th><strong>SALDO</strong></th>
                        <th class="text-right"><strong>R$ @_receitaLiquida.ToString("###,###0.00")</strong>  </th>
                        <th class="text-right"><strong>R$ @_custoFixo.ToString("###,###0.00")</strong></th>
                        <th class="text-right"><strong>R$ @_comissao.ToString("###,###0.00")</strong></th>
                        <th class="text-right"><strong>R$ @_lucro.ToString("###,###0.00")</strong></th>
                    </tr>
                </thead>
            </table>
        </div><!-- /.span -->
    </div>
</div>