﻿@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>
        Consultores
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            ventas &amp; estadisticas
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Filtros</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <dv class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div>
                                    <label for="form-field-8">Periodo</label>
                                    <div class="form-inline">
                                        <select name="mesDesde">
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                        <select name="anioDesde">
                                            <option value="2003">2003</option>
                                            <option value="2004">2004</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option value="2007">2007</option>
                                        </select>

                                        <label for="form-field-8">a</label>

                                        <select name="mesHasta">
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option selected value="12">Diciembre</option>
                                        </select>
                                        <select name="anioHasta">
                                            <option value="2003">2003</option>
                                            <option value="2004">2004</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option selected value="2007">2007</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="form-field-8">Consultores</label>
                                <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">     
                                </select>
                                <div class="hr hr-16 hr-dotted"></div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-group text-center">
                                    <button class="btn btn-sm btn-primary btn-block" id="btnRelatorio">
                                        <i class="ace-icon fa fa-book align-top bigger-110"></i>
                                        Relatorio
                                    </button>
                                </div>

                                <div class="form-group text-center">
                                    <button class="btn btn-sm btn-success btn-block" id="btnGrafico">
                                        <i class="ace-icon fa fa-bar-chart-o align-top bigger-110"></i>
                                        Grafico
                                    </button>
                                </div>

                                <div class="form-group text-center">
                                    <button class="btn btn-sm btn-info btn-block" id="btnPizza">
                                        <i class="ace-icon fa fa-pie-chart align-top bigger-110"></i>
                                        Pizza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </dv>
                </div>
            </div>
        </div>
    </div><!-- /.span -->
</div>
<div id="rowContent">
</div>
<script>
    
    $(document).ready(function () {

        GetConsultores();

        var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>' });
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');

        //example taken from plugin's page at: https://twitter.github.io/typeahead.js/examples/
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            }
        }

        ///////////////


        //in ajax mode, remove remaining elements before leaving page
        $(document).one('ajaxloadstart.page', function (e) {
            $('[class*=select2]').remove();
            $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
            $('.rating').raty('destroy');
            $('.multiselect').multiselect('destroy');
        });

        $('#btnRelatorio').click(function () {
            if ($('select[name="duallistbox_demo1[]_helper2"] option').length == 0) {
                ShowNotificationModalWarningWithOutButtons("Debe seleccionar un consultor.");
                return;
            }
            ShowNotificationModalWaitingLoad("Cargando informacion de consultores solicitada.");

            window.setTimeout(function () {
                $('#rowContent').empty();
                var mesDesde = parseInt($('select[name="mesDesde"] option:selected').val());
                var anioDesde = parseInt($('select[name="anioDesde"] option:selected').val());
                var mesHasta = parseInt($('select[name="mesHasta"] option:selected').val());
                var anioHasta = parseInt($('select[name="anioHasta"] option:selected').val());
                
                $('select[name="duallistbox_demo1[]_helper2"] option').each(function () {
                    var consultor = $(this).val();
                    $('#rowContent').append(GetRelatorio(mesDesde, anioDesde, mesHasta, anioHasta, consultor));
                });
                
                //$(".widget-toolbar a").click();
                SweetAlert.close();
                // do whatever you want to do
            }, 200);
            
        });

        $('#btnPizza').click(function () {
            if ($('select[name="duallistbox_demo1[]_helper2"] option').length == 0) {
                ShowNotificationModalWarningWithOutButtons("Debe seleccionar un consultor.");
                return;
            }
            ShowNotificationModalWaitingLoad("Cargando informacion de consultores solicitada.");

            window.setTimeout(function () {
                $('#rowContent').empty();
                var mesDesde = parseInt($('select[name="mesDesde"] option:selected').val());
                var anioDesde = parseInt($('select[name="anioDesde"] option:selected').val());
                var mesHasta = parseInt($('select[name="mesHasta"] option:selected').val());
                var anioHasta = parseInt($('select[name="anioHasta"] option:selected').val());
                var procesoData = []

                $('select[name="duallistbox_demo1[]_helper2"] option').each(function () {
                    procesoData.push($(this).val());
                });
                $('#rowContent').append(GetPizza(mesDesde, anioDesde, mesHasta, anioHasta, procesoData));

                //$(".widget-toolbar a").click();
                SweetAlert.close();
                // do whatever you want to do
            }, 200);

        });

        $('#btnGrafico').click(function () {
            if ($('select[name="duallistbox_demo1[]_helper2"] option').length == 0) {
                ShowNotificationModalWarningWithOutButtons("Debe seleccionar un consultor.");
                return;
            }
            ShowNotificationModalWaitingLoad("Cargando informacion de consultores solicitada.");

            window.setTimeout(function () {
                $('#rowContent').empty();
                var mesDesde = parseInt($('select[name="mesDesde"] option:selected').val());
                var anioDesde = parseInt($('select[name="anioDesde"] option:selected').val());
                var mesHasta = parseInt($('select[name="mesHasta"] option:selected').val());
                var anioHasta = parseInt($('select[name="anioHasta"] option:selected').val());
                var procesoData = []

                $('select[name="duallistbox_demo1[]_helper2"] option').each(function () {
                    procesoData.push($(this).val());
                });
                $('#rowContent').append(GetGrafico(mesDesde, anioDesde, mesHasta, anioHasta, procesoData));

                //$(".widget-toolbar a").click();
                SweetAlert.close();
                // do whatever you want to do
            }, 200);

        });

        function GetConsultores() {
            var myUrl = "@Url.Action("GetConsultores", "Home")";
            $.ajax({
                url: myUrl,
                type: "GET",
                dataType: "json",
                contenType: false,
                async: false,
                success: function (result) {
                    for (var i = 0; i < result.length - 1; i++) {
                        $('#duallist').append("<option value='" + result[i].Usuario + "'>" + result[i].Nombre + "</option>");
                    }
                }
            });
        }

        function GetRelatorio(mesDesde, anioDesde, mesHasta, anioHasta, consultor) {
            var content = "";
            var myUrl = "@Url.Action("GetRelatorio", "Home")";
            $.ajax({
                url: myUrl,
                type: "GET",
                dataType: "html",
                contenType: false,
                data: {mesDesde:mesDesde, anioDesde:anioDesde, mesHasta:mesHasta ,anioHasta:anioHasta, consultor:consultor},
                async: false,
                success: function (result) {
                    content = result;
                }
            });
            return content;
        }

        function GetPizza(mesDesde, anioDesde, mesHasta, anioHasta, consultor) {
            var content = "";
            var myUrl = "@Url.Action("GetPizza", "Home")";
            $.ajax({
                url: myUrl,
                type: "GET",
                dataType: "html",
                contenType: false,
                data: {mesDesde:mesDesde, anioDesde:anioDesde, mesHasta:mesHasta ,anioHasta:anioHasta, consultor:JSON.stringify(consultor)},
                async: false,
                success: function (result) {
                    content = result;
                }
            });
            return content;
        }

        function GetGrafico(mesDesde, anioDesde, mesHasta, anioHasta, consultor) {
            var content = "";
            var myUrl = "@Url.Action("GetGrafico", "Home")";
            $.ajax({
                url: myUrl,
                type: "GET",
                dataType: "html",
                contenType: false,
                data: { mesDesde: mesDesde, anioDesde: anioDesde, mesHasta: mesHasta, anioHasta: anioHasta, consultor: JSON.stringify(consultor) },
                async: false,
                success: function (result) {
                    content = result;
                }
            });
            return content;
        }
    });
</script>


